<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{product.product_name}}</title>
  </head>
  <body>
    <p>Product Name: {{ product.product_name }}</p>
    <p>In Stock: {{ product.number_in_stock }}</p>
    <p>Unit Price: {{ product.product_price }}</p>    
  </body>
</html>