<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inventory</title>
  </head>
  <body>
    
    {% if product_list %}
        <ul>
        {% for product in product_list %}
            <li><a href="{% url 'inventory:detail' product.id %}">{{ product.product_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No product is available.</p>
    {% endif %}

  </body>
</html>
